<h1><%= @restaurant.name %></h1>
<h4><%= @restaurant.address %></h4>
<h4><%= @restaurant.phone_number %></h4>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
      <%= "⭐️" * review.rating %> |
      <%= review.content %>
    </li>
  <% end %>
</ul>

<div>
  <%= link_to "All Restaurants", restaurants_path%>
</div>
<div>
  <%= link_to "add a review", new_restaurant_review_path(@restaurant)%>
</div>
